<layout th:replace="~{app/fragments/layout :: layout(~{:: title}, ~{:: link}, ~{:: section}, ~{:: #scripts}, ~{})}">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/users.css}">
  <section class="container mt-4">
    <div class="row">
      <div class="col-md-12">
          <h3 class="font-weight-light">
            <i class="fas fa-user"></i>
            <span th:text="${create ? 'Create' : 'Edit'}"></span>
            User
          </h3>
          <hr>
      </div>
    </div>
    <form
      id="app"
      novalidate
      method="POST"
      th:action="@{/app/users}"
      class="row d-flex justify-content-center needs-validation">
    </form>
  </section>
  <th:block id="scripts">
    <th:block th:replace="~{app/fragments/imports :: react-javascript}"></th:block>   
    <script language="javascript" th:src="@{/js/forms.js}"></script>
    <script language="javascript" type="text/babel" th:src="@{/js/forms/users-form.js}"></script>
  </th:block>
</layout>