<layout th:replace="~{app/fragments/layout :: layout(~{::title}, ~{::styles}, ~{::section}, ~{::scripts}, ~{::modal})}">
    <title>Users</title>
    <styles>
        <link rel="stylesheet" type="text/css" th:href="@{/css/users.css}">
    </styles>
    <section class="container">
        <table
            th:replace="~{__${#execInfo.templateName}__/../fragments/table :: table(${page})}">
        </table>
        <modal
            th:replace="~{__${#execInfo.templateName}__/../fragments/modal :: delete-confirm}">
        </modal>
        <scripts>
            <script language="javascript" th:src="@{/js/users-modal.js}"></script>
        </scripts>
    </section>
</layout>