<layout th:replace="~{app/fragments/layout :: layout(~{::title}, ~{::link}, ~{::main}, ~{::script}, ~{})}">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}">
    <main class="container">
        <i class="fas fa-user fa-6x mb-2"></i>
        <h1>Register</h1>
        <form th:object="${user}" class="needs-validation" novalidate th:action="@{/app/register}" method="POST">
            <div class="row">
                <div class="col-md-12 mt-4">
                    <label for="input_name" class="form-label">Name</label>
                    <input
                        th:field="*{name}"
                        type="text"
                        class="form-control"
                        id="input_name"
                        autocomplete="name"
                        required
                    >
                    <div class="invalid-feedback">
                        Por favor, informe o nome.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4">
                    <label for="input_email" class="form-label">E-mail</label>
                    <input
                        th:field="*{email}"
                        type="email"
                        autocomplete="email"
                        class="form-control"
                        id="input_email"
                        required
                    >
                    <div class="invalid-feedback">
                        Por favor, informe o e-mail.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4">
                    <label for="input_password" class="form-label">Password</label>
                    <input
                        th:field="*{password}"
                        type="password"
                        autocomplete="new-password"
                        class="form-control"
                        id="input_password"
                        required
                    >
                    <div class="invalid-feedback">
                        Por favor, informe a senha.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4">
                    <label for="input_confirm_password" class="form-label">Confirm password</label>
                    <input
                        th:field="*{confirmPassword}"
                        type="password"
                        class="form-control"
                        id="input_confirm_password"
                        required
                    >
                    <div class="invalid-feedback">
                        Por favor, confirme a senha.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4 d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </main>
    <script language="javascript" th:src="@{/js/forms.js}"></script>
</layout>