<footer th:fragment="footer" class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="mx-4 col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img class="d-inline-block align-top" width="30" height="30" src="https://i.imgur.com/UJ9JMCC.png">
        </a>
        <span class="text-muted">&copy; 2021</span>
    </div>

    <ul class="mx-4 nav col-md-4 justify-content-end list-unstyled d-flex icon-list">
        <li class="ms-3">
            <a class="text-muted" href="https://twitter.com/Throyer_" target="_blank">
                <i class="fab fa-2x fa-twitter-square"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://github.com/Throyer" target="_blank">
                <i class="fab fa-2x fa-github-square"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-muted" href="https://www.linkedin.com/in/renato-henrique-horacio/" target="_blank">
                <i class="fab fa-2x fa-linkedin"></i>
            </a>
        </li>
    </ul>
</footer>