<html th:fragment="layout(title, links, content, scripts, modals)">

    <!-- head -->
    <head>

        <title th:replace="${title}">
            Common API
        </title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">

        <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">

        <!-- default links -->
        <th:block
            th:replace="~{app/fragments/imports :: default-css}">
        </th:block>
        
        <!-- custom links -->
        <th:block
            th:replace="${links}">
        </th:block>
    </head>

    <!-- page body -->
    <body class="bg-light ">

        <!-- toasts container -->
        <th:block
            th:replace="~{app/fragments/toasts :: toast-container}">
        </th:block>

        <!-- navbar default -->
        <nav
            th:replace="~{app/fragments/navbar :: navbar}">
        </nav>
        
        <!-- content container -->
        <th:block th:replace="${content}"></th:block>

        <footer
            th:replace="~{app/fragments/footer :: footer}">
        </footer>
        
        <!-- modals section -->
        <th:block
            th:replace="${modals}">
        </th:block>

        <!-- default scripts -->
        <script
            th:replace="~{app/fragments/imports :: default-javascript}">
        </script>

        <!-- custom scripts -->
        <th:block
            th:replace="${scripts}">
        </th:block>
    </body>
</html>