<nav th:fragment="navbar" class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a
                    th:href="@{/app}"
                    class="nav-link link-dark px-2 active"
                    aria-current="page"
                >
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a
                    th:href="@{/swagger-ui/index.html?configUrl=/documentation/schemas/swagger-config}"
                    class="nav-link link-dark px-2 active"
                    aria-current="page"
                >
                    <i class="fas fa-scroll"></i>
                    Swagger docs
                </a>
            </li>
            <li class="nav-item">
                <a
                    href="https://github.com/Throyer/springboot-api-crud#spring-boot-api-crud"
                    class="nav-link link-dark px-2 active"
                    aria-current="page"
                >
                <i class="fab fa-github-alt"></i>
                    Repository
                </a>
            </li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="nav">
            <li class="nav-item">
                <a th:href="@{/app/logout}" class="nav-link link-dark px-2">
                    <i class="fas fa-door-open"></i>
                    Sign out
                </a>
            </li>
        </ul>
        <ul sec:authorize="!isAuthenticated()" class="nav">
            <li class="nav-item">
                <a th:href="@{/app/login}" class="nav-link link-dark px-2">
                    <i class="fas fa-door-closed"></i>
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/app/register}" class="nav-link link-dark px-2">
                    <i class="fas fa-certificate"></i>
                    Sign up
                </a>
            </li>
        </ul>
    </div>
</nav>